body
{
  font-family: 'Anonymous Pro', monospace;
}
header
{
  height: 100vh;
}
.logo
{
  display: block;
  margin: 0 auto;
  max-width: 75%;
}
.black
{
  background-color: black;
  height: 100vh;
}
.white
{
  height: 100vh;
}
.img-left
{
  max-height: 100%;
  max-width: 100%
}
.img-right
{
  max-height: 100%;
  max-width: 100%;
  float: right;
}
