body
{
  font-family: 'Anonymous Pro', monospace;
  margin: 0;
}
header
{
  min-height: 100vh;
}
.black
{
  background-color: black;
  min-height: 100vh;
  color: white;
}
.white
{
  min-height: 100vh;
}
.img-left
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
.img-right
{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
#logo
{
  display: block;
  margin: 0 auto;
  max-width: 75%
}
.line-1{
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
}
.text
{
  overflow: auto;
}
.anim-typewriter{
  animation: typewriter 1s steps(15) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
